

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.navbar-top {
    margin-bottom: 0;
    border-radius: 0;
    padding: 8px 0;
    min-height: 40px;
    border-bottom: 1px solid rgb(229, 232, 237);
    display: none;
}

.Button-link {
    padding-left: 10px;
}


.Button-New {
    background-color: rgb(0,215,210);
    color: rgb(3,27,78);
    border-radius: 5px;
    border: 0;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 9px;
    line-height: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}


.Insert-New {
    color: #5b6987;
    font-size: 12px;
    display: inline-block;
    margin: 0;
}

.fa-angle-right {
    margin-left: 5px;
}

.Siti-list {
    margin-bottom: 0;
}

.Siti {
    list-style-type: none;
    display: inline-block;
}

.web {
    color: #5b6987;
    padding: 10px;
    font-size: 12px;
}

.web.margin{
    margin-right: 28px;
}

.Insert-New:hover, .Siti > .web:hover, .Button-link:hover {
    color: #006aff;
    text-decoration: none;
}

/* --------Fine Navbar-Top--------- */




/* --------Inizio Navbar-Bottom-------- */

.navbar.navbar-default {
    background-color: white;
    height: 65px;
    border-radius: 0;
    margin: 0;

}

.navbar-brand {
    padding: 15px 25px;

}

.css-ds5pxo {
    max-height: 28px;
    max-width: 172px;

}

#bs-example-navbar-collapse-1 .nav.navbar-nav > li > a.change-list {
    color: #031B4F;
    font-size: 14px;
    padding: 15px 10px;
    line-height: 30px;

}

a.change-list {
    color: rgb(3, 27, 79);

}

#bs-example-navbar-collapse-1 .nav.navbar-nav > li > a.change-list:hover {
    color: #006AFF;
}


.fa-angle-down {
    margin-left: 5px;
}

.button-nav {
    color: #006aff;
    background-color: transparent;
    border: 1px solid #006aff;
    border-radius: 5px;
    margin: 15px 16px 0 0;
    padding: 5px 10px;
}

.button-nav:hover {
    background-color: #006aff;
    color: white;
}

.button-nav-right {
    color: white;
    background-color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px 28px 0 0;
}

/* -------------Fine Navbar-Bottom------------ */



/* --------------Inizio Jumbotron-------------- */

#jumbotron {
    background-color: rgb(0, 105, 255);
    background-size: cover;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);


}

/* ------Inizio Barra Blu flottata------- */

.bar-link-free {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(3, 27, 78);
    border-radius: 6px;
    padding: 5px;
}

.bar-link-free:hover {
    background-color: rgb(21, 205, 114);
    transition: all 0.5s ease 0s;
    z-index: 29;
}

p.text-link-top {
    font-size: 14px;
    margin: 10px;
    padding-top: 1px;
    text-align: center;
    color: white;
}

a.link-free:hover {
    text-decoration: none;
}

/* -------Fine Barra Blu flottata-------- */



/* --------Inizio Prima Sezione Welcome and developer------ */



.Welcome-developer {
    padding: 45px 35px;

}

.title-Welcome {
    font-size: 31px;
    color: white;
    max-width: 870px;

}

.Subtitle-Welcome {
    margin: 0;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    max-width: 770px;
}

.box {
    max-width: 370px;
}

.box-top-deploy {
    background-color: rgb(243, 245, 249);
    padding: 16px 0 12px;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.title-box-top-deploy {
    color: #031B4E;
    font-size: 18px;

}

.box-center-deploy {

    background-color: white;
    padding: 32px;
}

.input-box-center-deploy {
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid rgb(229, 232, 237);
    font-size: 16px;
    border-radius: 3px;
}

.button-box-center-deploy {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 106, 255);
    border: 1px solid rgb(0, 106, 255);
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

.box-bottom-deploy {
    background-color: white;
    padding: 32px;
    border-top: 1px solid rgb(243, 245, 249);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.button-box-bottom-deploy-left {
    background: white;
    color: #0069FF;
    padding: 13px 25px 16px;
    font-size: 16px;
    border-color: #0069FF;
    border-radius: 6px;

}

.img-position {
    margin-right: 6px;
}

.button-box-bottom-deploy-right {
    padding: 15px;
    float: right;
    background-color: white;
    border-color:  #0069FF;
    border-radius: 6px;
}

.color-hover:hover {
    color: black;
}

.box-terminal {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 20px 0 70px 0;
}

.terms {
    color: white;
}

.terms:hover {
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    text-decoration: none;
    color: white;
}

/* ------------Fine Prima Sezione Web and developer----------  */



/* -------------Inizio Sezione Loghi-------------------- */

#section-loghi.section-loghi-partner {
    background-color: rgb(243, 245, 249);
    padding: 64px 24px;
}

.title-loghi {
    font-size: 16px;
    color: #5B6987;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.img-partner {
    margin: 0 31px;

}

a.link-partner {
    color: #0069FF;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

}

a.link-partner:hover {
    color: #1633ff;
    text-decoration: none;

}



/* ------------------Inizio Section-Scale------------- */



#section-scale {
    padding: 100px 24px;
}

.title-section-scale {
    font-size: 36px;
    color: #031B4E;
    text-align: center;
}

.subtitle-section-scale {
    color: #5b6987;
    font-size: 20px;
    text-align: center;

}

.section-deploy-scale .box-deploy-button{
    display: inline-block;
    margin-bottom: 20px;
}

.section-deploy-scale .box-deploy-button button{
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 15px 20px;
    border-bottom: 3px solid  #5b6987;
}

.section-deploy-scale .button-menu-scale:hover {
    color: #031b4e;
    border-bottom: 3px solid rgb(0, 105, 255);
    background-color: white;
}

.title-moment {
    font-size: 18px;
    color: #031B4E;
    margin: 25px 0 10px;
}

.title-moment-basic {
    font-size: 16px;
    color: #5B6987;
    margin-bottom: 10px;
}



/* -------------Fine Section-scale---------------- */



/* ------------Inizio Section Designed------------- */

#Designed {
    background-color: rgb(243, 245, 249);
    padding: 120px 24px;

}

.title-designed {
    font-size: 36px;
    color: #031B4E;
    text-align: center;
}

.subtitle-designed {
    font-size: 20px;
    color:  #031B4E;
    text-align: center;
    max-width: 770px;
    margin: auto;

}

.img-designed {
    width: 80%;

}

.img-designed-closed::before {
    content: "\f060";
    font-family: "Font Awesome 5 Free";
    color: rgb(22, 51, 255);
    font-weight: 900;
    position: absolute;
    top: 40%;
    left: 0;
    display: inline-block;

}

.img-designed-closed::after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    color: rgb(22, 51, 255);
    font-weight: 900;
    position: absolute;
    top: 40%;
    right: 0;
    display: inline-block;

}
.text-img-designed {
    font-size: 16px;
    text-align: center;
    color: #5B6987;
    padding-top: 32px;

}

#carouselExampleCaptions {
    margin-top: 80px;
}

.carousel-indicators li {
    background-color: rgba(0,0,0,0);
    border: 1px solid #1633ff;
    margin: 0 5px;
}

.active-circle:hover {
    background-color: #1633ff;
}


/* ---------------Fine Section Designed---------- */



/* ---------------Inizio Section Build----------- */

#Build {
    padding: 120px 24px;
}

.build-business-box {
    width: 95%;
    margin: auto;
    margin-top: 100px;
}

.title-built {
    font-size: 36px;
    color: #031B4E;
    text-align: center;

}


.title-boxes {
    font-size: 18px;
    margin-top: 25px;
    color: #031B4E;
}

.subtitle-boxes {
    font-size: 16px;
    margin-top: 20px;
    color: #5B6987;
}

a.link-boxes {
    color: #0069FF;
}


/* ---------------Fine Section Build------------ */




/* ---------------Inizio Section Around-World----------- */

#Around-World {
    background-image: url('https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg');
    background-color: #031b4e;
    background-size: cover;
    padding: 120px 24px;
}

.title-world {
    font-size: 36px;
    color: white;
    text-align: center;
    max-width: 700px;
    margin: auto;
}


.subtitle-world {
    font-size: 20px;
    color: white;
    text-align: center;
    max-width: 770px;
    margin: auto;
}

a.pricing-color {
    color: #0069FF;
}

a.pricing-color:hover {
    color: #1633ff;
    text-decoration: none;
}

a.link-speed {
    float: right;
    color: #00D7D2;
}

a.link-speed:hover{
    text-decoration: none;
    color: #1633ff;
}

.city-world-arrive {
    padding: 0;
    margin: 0;
}

.city-world {
    list-style-type: none;
    padding: 13px 0;
    border-bottom: 1px solid lightgrey;
}

.code-city {
    color: white;
    font-size: 13px;
}

.name-city {
    color: white;
    opacity: 0.6;
    padding-left: 50px;
}


/* ------------Fine Section Around-World----------- */



/* ------------Inizio Section Development-teams--------- */

#Development-teams {
    background-color: rgb(243, 245, 249);
    padding: 120px 24px;

}

.teams-color {
    color: #0069FF;
}

.teams-color:hover {
    color: #1633ff;
}

.box-rockerbox-open {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 6px;
    padding: 50px;
}


.img-rockerbox {
    max-width: 200px;
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;

}

.text-img-designed {
    font-size: 24px;
    margin: 30px 0;
}

.story-color {
    color: #0069FF;
}

.story-color:hover {
    color: #1633ff;
}

.name-rick-toole {
    font-size: 16px;
}

.cto-founder {
    font-size: 12px;
    margin-top: 4px;
}

/* --------------Fine Section Development-teams----------- */



/* --------------Inizio Section Started-Now---------- */

#Started-Now {

    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
    background-color: #0069ff;
    background-size: cover;
    padding: 64px 24px;

}

.Get-now {
    font-size: 36px;
    margin-top: 8px;
    color: white;

}

.account-button {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.create-account {
    font-size: 16px;
    color: #0069ff;
    background-color: white;
    margin: 0 0 8px 14px;
    padding: 20px 30px;
    border-radius: 6px;
    border: 1px solid white;
    float: right;

}

.create-account:hover {
    background: rgba(225,225,225,0.9);
}


@media screen and (min-width: 320px) {

    .Welcome-developer {
        text-align: center;
        padding: 0;
    }

    .title-Welcome {
        margin-top: 15px;
    }

    p.Subtitle-Welcome {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .box-bottom-deploy {
        padding: 32px 15px;
    }

    .button-box-bottom-deploy-left {
        padding: 14px 10px;
    }

    .subtitle-section-scale {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .container-deploy-5 {
        margin-top: 40px;
    }

    #Designed {
        padding: 64px 24px;
    }

    .subtitle-designed {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #Build {
        padding: 64px 24px;
    }

    #Around-World {
        padding: 64px 24px;
    }

    .subtitle-world {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .name-city {
        font-size: 13px;
        padding-left: 5px;
    }


    a.link-speed {
        font-size: 12px;
    }

    .city-world-arrive {
        max-width: 550px;
        margin: auto;
    }

    #Development-teams {
        padding: 64px 24px;

    }

    .box-rockerbox-open {
        width: 100%;
        padding: 5px;

    }

    .box-rockerbox-open {
        width: 100%;
        margin: auto;
        background-color: white;
        border-radius: 6px;
        padding-bottom: 70px;

    }


    .img-rockerbox {
        max-width: 200px;
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 60px;

    }

    p.text-img-designed {
        font-size: 24px;
        margin-bottom: 30px;
        padding: 0;
    }

    h1.Get-now {
        text-align: center;
    }


}

@media screen and (min-width: 375px) {

    .box-bottom-deploy {
        padding: 32px;
    }

    .button-box-bottom-deploy-left {
        padding: 13px 20px 16px;
    }
}

@media screen and (min-width: 414px) {

    .button-box-bottom-deploy-left {
        padding: 13px 30px 16px;
    }
}


@media screen and (min-width: 768px) {


    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .collapse.navbar-collapse {
        display: none !important;
    }

    .build-business-box {
        width: 80%;
        margin: auto;
        margin-top: 100px;

    }

    .title-Welcome {
        margin: 0;
        font-size: 58px;
        color: white;
        text-transform: uppercase;
        padding-top: 60px;
    }

    #section-scale {
        padding: 64px 24px;
    }

    .title-section-scale {
        font-size: 36px;
        color: #031B4E;
        text-align: center;
        margin: 0;
    }

    .box-rockerbox-open {
        width: 100%;
        margin: auto;
        background-color: white;
        border-radius: 6px;
        padding-bottom: 70px;

    }




}


@media screen and (min-width: 992px) {


    .navbar-top {
        display: block;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .collapse.navbar-collapse {
        display: block !important;
    }

    p.text-link-top {
        font-size: 16px;

    }

    .Welcome-developer {
        margin-top: 60px;
    }

    .title-Welcome {
        font-size: 58px;
        color: white;
        text-align: left;
    }

    p.Subtitle-Welcome {
        text-align: left;
    }

    .box {
        max-width: 370px;
        margin-top: 70px;
    }

    .section-deploy-scale .box-deploy-button{
        display: block;

    }

    .section-deploy-scale .box-deploy-button button{

        border: none;
        border-left: 3px solid  #5b6987;
    }

    .section-deploy-scale .button-menu-scale:hover {

        border-left: 3px solid red;

    }

    .container-deploy-5 {
        text-align: left;
    }


    .build-business-box {
        text-align: left;
    }




}


@media screen and (min-width: 1200px) {

    .Welcome-developer {
        padding: 45px 0;
        padding-right: 24px;
        margin-top: 70px;
    }

    .box-rockerbox-open {
        width: 80%;
        margin: auto;
        background-color: white;
        border-radius: 6px;
        padding-bottom: 70px;

    }




}


@media screen and (min-width: 1024) {
    #section-scale {
        padding: 120px 24px;
    }

    #Designed {
        padding: 120px 24px;
    }

    #Build {
        padding: 120px 24px;
    }

    #Around-World {
        padding: 120px 24px;
    }

    h1.Get-now {
        text-align: left;
    }

    .account-button {
        float: right;
        display: inline-block;
    }



}
